@model IEnumerable<Arvutiparandus.Models.Tellimus>

@{
    ViewBag.Title = "Taitmiseks";
}

<h2>Taitmiseks</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Arvutityyp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teenused)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Arvutityyp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teenused)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klient)
        </td>
        <td>
            @Html.ActionLink("Märgi Tehtuks", "MargiTehtuksTellimus", new { id=item.Id })
        </td>
    </tr>
}

</table>
